<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <nav class="menu">
               
        <a href="/babbage">Formulario de vacunacion</a> <br> 

        <a href="/listado">Lista de candidatos anotados para la Vacuna</a><br>
      
      
        <a href="/configuracion_centros_de_vacunacion">Configuracion centros de vacunacion</a><br> 
      
      
        <a href="/calcular_asignacion_de_turnos">Calcular asignacion de turnos</a><br> 
      
    
        <a href="/listar_los_turnos_asignados">Listar los turnos asignados</a><br> 

        <a href="/pagina_en_construccion">Nueva Entrada Futura</a><br> 
        
    
  </nav>
    
</body>
</html>