*{
    margin: 0;
    
}

/* header */

body{
    background-image: url("/img/fondoserio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a{
    margin: auto;
    text-decoration: none;

}
li{
    margin: auto;

    border-radius: 1rem red solid;

}
ul{
    margin: auto;

    display: flex;
    align-items: flex-start;
    list-style-type: none;
    text-decoration: none;
    border: 1rem rgb(9, 105, 0) solid;
    border-style: inset;
    max-width: 100%;
    height: 6rem;
    font-size: 2rem;
    background-color: rgb(146, 255, 56);
    border-radius: 2rem;

}
.titulo{
    margin: auto !important;
    display: block;
    text-align: center;
    font-size: 6rem;
    border-top: rgba(0,0,0,1) solid 1rem;
    -webkit-text-stroke: 1px yellow

}
.ivan{
   
    width: 45rem;
    height: 25rem;
    justify-content:center !important;


}
.ivan2{
   
    width: 15rem;
    height: 25rem;


}
.ivan3{
    
    width: 15rem;
    height: 25rem;


}
.imagenes{
    display: flex;
    align-items: flex-end;
    justify-content:space-between !important;
    border-radius: 3rem;


}
.titulo{
    color: green;
    border-bottom: rgb(0, 0, 0) 1rem solid;
    text-decoration: wavy;
}

.subtitulo{
    text-align: center;
    font-size: 4.5rem;
    width: 70%;
    margin: auto;
    color: rgb(238, 255, 0);
    text-decoration:aqua;
    background-color: blueviolet;
    border-radius: 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.texto{
    margin: 3rem;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}
.texto2{
    border-top: 5rem solid black;
    border-bottom: 5rem solid black;
   
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;

}
.sonido{
    margin: auto;
    display: block;
    align-items: center;
    width: 30%;
}
.dross{
    display: flex;
    align-items: flex-start;
    width: 50%;
    margin: 0 !important;
}
footer{
   
    margin: 0 !important;
    margin-top: 0 !important;
    padding: 0 !important;
    background-color: black;
}
.git{
    margin: auto;
    display: block;
    align-items: center;
    width: 30%;
    border-radius: 3rem;

}
iframe{
    display: block;
    width: 60%;
    margin: auto;
}
.fotos1{
    display: flex;
    align-items: flex-end;
    justify-content:space-between !important;
    flex-direction: row;
    border-radius: 3rem !important;


}
.fotos1 img{
   
    border-radius: 3rem !important;


}
div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
p {
    max-width: 33%;
    color: yellow;
    font-size: 2rem;
}
.texto3{
    display: block;
    margin: auto;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h3{
    border-top: 5rem solid black;
    border-bottom: 5rem solid black;
   
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;

}
.margaret{
    display: block;
    margin: auto;
    margin-bottom: 30px !important; 
    width: 20%;
    border-radius: 3rem !important;
}

.zoom {
    display: block;
    margin: auto;
    width: 20%;
    border-radius: 3rem !important;
    transition: transform .2s;
  
  }
  
  .zoom:hover {
    -ms-transform: scale(1.0); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.2); 
  }
  
.zoom2 {
    display: flex;
    align-items: flex-end;
    justify-content:space-between !important;
    flex-direction: row;
    border-radius: 3rem !important;
    transition: transform .2s;
  
  }
  
  .zoom2:hover {
    -ms-transform: scale(1.0); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.2); 
  }