*{
    margin: 0;
    
}

/* header */

body{
   background-image: url("/img/fondo2.jpeg");
   background-size: 100%;
   background-repeat: no-repeat;
  background-attachment: fixed;
}
a{
    margin: auto;
    text-decoration: none;

}
li{
    margin: auto;

    border-radius: 1rem red solid;

}
ul{
    margin: auto;

    display: flex;
    align-items: flex-start;
    list-style-type: none;
    text-decoration: none;
    border: 1rem rgb(9, 105, 0) solid;
    border-style: inset;
    max-width: 100%;
    height: 6rem;
    font-size: 2rem;
    background-color: rgb(146, 255, 56);
    border-radius: 2rem;

}
.titulo{
    margin: auto !important;
    display: block;
    text-align: center;
    font-size: 5rem;
    border-top: rgba(0,0,0,1) solid 1rem
}


.titulo{
    color: rgb(255, 230, 0);
    text-decoration: wavy;
    background-color: violet;
    border-radius: 6rem;
    border: 1rem inset black;
}
.superheroes{
    margin: 4rem;
   
}

.subtitulo{
    text-align: center;
    font-size: 4.5rem;
    width: 70%;
    margin: auto;
    color: blue;
    text-decoration:aqua;
}
.texto{
    margin: 3rem;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: violet;
    border-radius: 6rem;
    border: 1rem inset black;

}
.texto2{
    border-top: 5rem solid black;
    border-bottom: 5rem solid black;
   
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;

}
.sonido{
    margin: auto;
    display: block;
    align-items: center;
    width: 30%;
}
.dross{
    display: flex;
    align-items: flex-start;
    width: 50%;
    margin: 0 !important;
}
footer{
   
    margin: 0 !important;
    margin-top: 0 !important;
    padding: 0 !important;
    background-color: black;
}
.git{
    margin: auto;
    display: block;
    align-items: center;
    width: 30%;
    border-radius: 3rem;

}
.imagenes{
    display: block;
    width: 50%;
    margin: auto !important;
    border-radius: 2rem;
    border: rgb(146, 255, 56) 5px solid;

}